* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.admin-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.search-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.search{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--bg-main);
    font-size: 20px;
    color:var(--bg-main);
    padding:20px;

}

.search-btn{
    background-color: var(--primary);
    transition: all 0.3s ease-in;

}
.search-btn:hover{
    background-color: rgba(255, 0, 0, 0.452);
}
.search:focus{
    background-color: var(--text-dark);
}
.admindashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: 21vw;
    background-color: var(--bg-main);
    margin-top: 70px;
    overflow-y: auto;

}
.admin-table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.admin-table th, .admin-table td {
  padding: 12px 15px;
  text-align: left;
}

.admin-table thead tr {
  background-color: #2c3e50;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
 
}

.admin-table tbody tr {
  border-bottom: 1px solid #dddddd;
  
}

.admin-table tbody tr:nth-child(even) {
  background-color: #f4f4f4;
}

.admin-table tbody tr:hover {
  background-color: var(--primary);
  cursor: pointer;
   transition: all 0.2s ease-in;
}

.admin-table td {
  color: #333;
}

.admin-table tbody tr:last-child {
  border-bottom: 2px solid #2c3e50;
}
