*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background: var(--primary);
  border:1px solid var(--secondary);
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu {
  position: absolute;
  top: 45px;
  right: 0;
  width: 160px;

  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: 100;
}

.dropdown-item {
  width: 100%;
  padding-left: 10px;
  border: none;
  background: rgb(0, 0, 0);
  text-align: left;
  cursor: pointer;
  color:white;
  font-size: 14px;
}

.dropdown-item:hover {
  background: var(--primary);
  color:var(--secondary);
}

.logout {
  color: red;
}
