* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Navbar container */
.navbar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  color: var(--text-dark);
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left:0;
  z-index: 100;
  
}

/* Logo */
.logo-name {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  color:var(--bg-main);

}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Individual link */
.nav-links li a {
  text-decoration: none;
  color: var(--bg-main);
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: var(--secondary);
}

/* Hamburger icon */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Checkbox (hidden) */
#menu-toggle {
  display: none;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    background-color: #1e1e2f;
    height: 100vh;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 30px;
    gap: 30px;
    transition: right 0.3s ease;
  }

  /* Show menu when checkbox is checked */
  #menu-toggle:checked + .hamburger + .nav-links {
    right: 0;
  }

  .hamburger {
    display: block;
  }
  .nav-links li a {
    color:white;
  }
}
