* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    position: relative;
}
.adminhomecontainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: start;
    align-items: center;
    background-color: var(--bg-main);
    margin-top: 70px;
    overflow-y: scroll;



}


.homeadmin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 20vw;
    gap: 10px;
    height: 100vh;
    flex-direction: column;




}

.home_admin {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 5px solid var(--primary);


}

.inputtitle {
    width: 20%;
    text-align: Start;


}

.inputhomes {
    width: 40%;
    padding: 20px 50px;
    outline: none;
    color: white;
    font-size: 16px;
    -webkit-backdrop-filter: blur(8px);
    border: none;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(37, 37, 37, 0.856);
}

.inputhomes:focus {
    width: 80%;
    background-color: var(--primary);
}

.sectionadmin {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionheader {
    font-weight: 1000;
    font-size: 40px;
    background: linear-gradient(90deg, var(--primary), var(--text-dark), rgb(148, 126, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family: 'Fredoka One', cursive;

}

.nowvalue {
    width: 40%;

}

.home-update-btn {
    position: fixed;
    bottom:10px;
    right:10px;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    color:var(--text-dark);
    box-shadow:  5px 5px 10px 2px rgba(0,0,0,0.3);
    background-color: rgba(255, 255, 255, 0.719);
    border:10px solid rgb(0, 0, 0);
    backdrop-filter: blur(10px);
}

.home-update-btn:hover{
    backdrop-filter: 5px;
    background-color: rgba(255, 255, 255, 0.315);
    border:10px solid var(--primary);
}
